---
layout: default
---
    <main aria-label="Content">
      <section class="spectacle-passe grid-3-small-1 has-gutter">
	<div>
      <img style="width:100%" src="{{ "/images/2018/affiche_2018_medium.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2017/affiche_2017_medium.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2016/affiche_2016_medium.jpg" | relative_url }}">
	</div>
	<div>
                <a href="{{ "/spectacle_2015" | relative_url }}"><img style="width:100%" src="{{ "/images/2015/affiche_2015_medium.jpg" | relative_url }}"></a>
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2014/affiche_2014_medium.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2013/affiche_2013.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2012/affiche_2012.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2011/affiche_yelva_assassin.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2010/chroniques_small.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2009/kyogen_2009_small.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2008/proverbes_2008_small.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2007/affiche_spectacle_2007small.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2006/A4_affiche_spec_2006.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2005/affiche24juinxsmall.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2004/PV.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2003/Pygmacinemaxsmall.jpg" | relative_url }}">
	</div>
      </section>
    </main>



